<% include ../partials/header %>
<div class="row">
    
    <h1>Campgrounds List</h1>

    <ul class="ml-auto"><a href="/campgrounds/new"><button class="btn btn-outline-secondary"><i class="fas fa-plus"></i> Create New Campground</button></a></ul>

</div>    
<div class="row">
    
        <% campgrounds.forEach(x => {%>
                        <div class="col-lg-6 col-sm-12 card align-items-center">
                                <img class="card-img-top" src="<%= x.image %>" alt="<%= x.name %>">
                                <div class="card-body">
                                  <h2 class="card-title"><%= x.name %></h2>
                                  <a href="/campgrounds/<%= x._id %>" class="btn btn-primary">More Info</a>
                                  <a href="/campgrounds/<%= x._id %>/edit" class="btn btn-success">Edit Item </a>
                                </div>
                        </div>
        <% }) %>

</div>    
<% include ../partials/footer %>