<% include ../partials/header %>

<div class="col-md-6 offset-md-3">
        <h1>Edit <%=posts.name%></h1>
        <form action="/posts/<%=posts._id%>?_method=PUT" method="POST" class="d-inline">

                <div class="form-group">
                        <label for="camp[name]">Name</label>
                        <input class="form-control" name="camp[name]"type="text" value="<%=posts.name%>">
                </div>

                <div class="form-group">
                    <label for="camp[image]">Image</label>
                    <input class="form-control" name="camp[image]"type="text" value="<%=posts.image%>">
                </div>
                
                <div class="form-group">
                    <label for="camp[desc]">Description</label>
                    <textarea class="form-control" name="camp[desc]"rows="10"><%=posts.desc%></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit!</button>
        </form>
        <form action="/posts/<%=posts._id%>?_method=DELETE" method="POST" class="d-inline">
            <button class="btn btn-danger">Delete</button>
        </form>
        <a href="/posts" class="btn-outline-info btn">Go Back</a>
</div>

<% include ../partials/footer %>