<% include ../partials/header %>
<div class="row">
    
    <h1>Posts</h1>

    <ul class="ml-auto"><a href="/posts/new"><button class="btn btn-outline-secondary"><i class="fas fa-plus"></i> Create New Post</button></a></ul>

</div>    
<div class="row">
    
        <% posts.forEach(x => {%>
                        <div class="col-lg-6 col-sm-12 card align-items-center text-center">
                                <img class="card-img-top" src="<%= x.image %>" alt="<%= x.name %>">
                                <div class="card-body">
                                  <h2 class="card-title"><%= x.name %></h2>
                                  <p><em>By: <%= x.author.username %></em></p>
                                  <a href="/posts/<%= x._id %>" class="btn btn-primary">More Info</a>
                                  <%if(currentUser){%>
                                        <%if(currentUser._id = x.author.id){%>
                                  <a href="/posts/<%= x._id %>/edit" class="btn btn-success">Edit Post </a>
                                  <%}}%>
                                          
                                </div>
                        </div>
        <% }) %>

</div>    
<% include ../partials/footer %>