<% include ../partials/header %>

  <div class="row">
    <div class="col-lg-6 card align-items-center">
      <h1>
        <%=posts.name%>
      </h1>
      <img class="card-img-top" src="<%= posts.image %>" alt="<%= posts.name %>" />
    </div>

    <div class="col-lg-6 card">
        <div class="card-body">
          <h2 class="card-title">Description</h2>
          <hr>
          <p class="card-text">
            <%=posts.desc%>
          </p>
          <a href="/posts" class="btn btn-secondary">Back to Listing</a>
        </div>
      </div>
      
    </div>
    
    <div class="row">
      <div class="col-lg-12 card">
        <h2>Comments</h2>
        <hr>
        <%posts.comments.forEach(comment => {%>
          <p><strong><%=comment.author%></strong></p>
          <p><%=comment.comment%></p>
          <hr>
        <%})%>

        <% if(!currentUser){ %>
            <a href="/login" class="btn btn-secondary">Login to comment</a>
          <% }else{ %>
            <a href="/posts/<%=posts._id%>/comments/new" class="btn btn-secondary">Add new comment</a>
          <% } %>
    </div>
  </div>


  

  <% include ../partials/footer %>